.header {
  /* border:2px solid orange; */
  flex-grow: 0;
  background: #323232;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
  height: 15vh;
}

form {
  /* border: 4px solid #663399; */
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  max-width: 60em !important;
  position: relative;
  top: 5.1vh;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -5px;
}

form > * {
  margin-right: 0.5em;
  margin-top: 5px;
}

#submit-btn {
  border: 0px;
  font-size: 1em;
  background: #cb4e4e;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  box-shadow: 0px 6px 0px 0px #ab3c3c;
  letter-spacing: 1px;
  position: relative;
  top: -2px;
  text-shadow: 0 1px 0 #cb4e4e, 0 -1px 0 #6b8659;
}

#submit-btn:hover {
  top: 1px;
  box-shadow: 0px 3px 0px 0px #ab3c3c;
}

#submit-btn:active {
  top: 2px;
  box-shadow: 1px 1px 5px #646060;
}

/* media query for result search - text coming out */
/* remove margin left of in result content when no results on display  */
/* link should be hidden in a text */

/* height fixed now, use media query to adjust form elements */

@media only screen and (max-width:650px){
  form{
    top: 2vh;
  }
}