.header {
  /* border:2px solid orange; */
  flex-grow: 0;
  background: #323232;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
  height: 15vh;
}

form {
  /* border: 4px solid #663399; */
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  max-width: 60em !important;
  position: relative;
  top: 5.1vh;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -5px;
}

form > * {
  margin-right: 0.5em;
  margin-top: 5px;
}

#submit-btn {
  border: 0px;
  font-size: 1em;
  background: #2776f6;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

#submit-btn:active {
  box-shadow: 1px 1px 5px #646060;
}


@media only screen and (max-width: 650px) {
  form {
    top: 2vh;
  }
}
