.http-switch{
  border:2px solid black;
  display: flex;
  align-items: center;
  height: fit-content;
  align-self: center;
  font-size: 1em;
}

input[type=radio]{
  display: none;
}

.radioInputs label{
  border:2px solid black;
  color: #666;
  cursor: pointer;
  background:pink
}

.radioInputs input:checked + label {
  background-color:chartreuse;
}


