.result-holder{
  /* border: 1px solid yellow; */
  max-width:60em !important;
 
}

.result {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  height: 600px;
}

.in-result {
  position: absolute;
  top: 0vh;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.in-result-content {
  width: 100%;
  max-width: 60em !important;
  margin-left: 1em;
  position: absolute;
  top: 1.26vh;
}