.result-holder{
  max-width:60em !important;
  height: 600px;
 
}

.result {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  height: 600px;
}

.in-result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  overflow-y: scroll;
}

.in-result-content {
  width: 100%;
  max-width: 60em !important;
  margin-left: 1em;
  position: absolute;
}