label[for="search-bar"] {
  border: 1px solid #b1abab;
  display: flex;
  border-radius: 8px;
  flex: 1;
  height: fit-content;
  align-items: center;
  min-width: 20em;
  overflow:hidden; /* a cut in border by input */
  padding-left: 0.5em;
  padding-right: 0.2em;
}

#search-bar {
  width: 100%;
  height: 35px;
  font-size: 1em;
  border: 0px;
  margin-left: 5px;
}

#search-bar:focus {
  outline: none;
}
