.table-header-container{
  height: 6.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 50px;
}

.table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: fit-content;
  width: 100%;
  max-width: 60em;
  color: #ababab;
  padding: 20px 0;
  font-size: 15px;
  text-transform: uppercase;
}

.table-header #description {
  margin-left: 274px;
}

.table-header #auth {
  margin-left: 274px;
}

.table-header #cors{
  margin-left:24px
}


@media only screen and (max-width:690px){
  #auth{
    display: none;
  }
}

@media only screen and (max-width:606px){
  #cors{
    display: none;
  }
}